@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.banner-image {
  background-image: url("https://www.mockplus.com/images/blogs-banner.png");
  background-color: rgba(57, 49, 49, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
}

.blog-container {
  max-width: 1300px;
  margin: 60px auto 0;
  padding-bottom: 100px;
  width: 90%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 0.3s ease;
}

.inner:hover img {
  transform: scale(1.1);
}

/* .card {
    width: 100%;
    max-width: 916px;
    height: 100%;
    overflow: hidden;
}

.card-img-top:hover {
    
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;   
    position: relative;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
} */

/* .date {
    position: absolute;
    font-size: 14px;
    top: 10px;
    bottom: 10px;
} */

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.blog-right {
  /* float: right;
    width: 310px; */
  padding-left: 40px;
  background: #ffffff;
}

.pic {
  border-radius: 4px;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin-right: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.blog-recent span {
  display: block;
  font-size: 16px;
  line-height: 25px !important;
  color: #353030;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 48px;
}

.recent-single-post {
  display: block;
  overflow: hidden;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.popular-single-post {
  display: block;
  overflow: hidden;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

footer {
  background-color: #212529;
  color: #ffffff;
}

.contact-form-wrapper {
  padding: 100px 0;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #3b9aec;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #3b9aec;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #3b9aec;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  opacity: 0.8;
}